* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", serif;
}
header {
  width: 100%;
  height: 100vh;
  background-color: #fff4e6;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 2rem;
}
nav .logo h1 {
  font-weight: 700;
  font-size: 30px;
  color: rgb(19, 19, 19);
}
nav .links a {
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  padding-right: 2rem;
  color: rgb(19, 19, 19);
}
nav #slidebar-active {
  display: none;
}
.open,
.close {
  display: none;
}
nav svg {
  fill: #0f1013;
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 3rem;
  text-align: center;
}
.banner h1 {
  padding: 0 35%;
  font-size: 34px;
  font-weight: 700;
}
.banner h4 {
  color: #727272;
  font-size: 14px;
  font-weight: 400;
  padding: 1rem 10%;
  line-height: 20px;
}
.banner button{
    width: 170px;
    height: 64px;
    background-color: #FF900E;
    color: #FFF4E6;
    border: none;
    font-size: 17px;
    border-radius: 8px;
    margin-bottom: 25px;
}
.banner img{
    width: 90%;
    padding-bottom: 50px;
}

@media (max-width: 626px) {
  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 200px;
    height: 100%;
    background-color: #fff4e6;
  }
  .links a {
    padding: 20px 30px;
    
    text-align: center;
  }
  .close{
    margin-top: 30px;
  }
  .open,
  .close {
    display: block;
    padding: 20px;
    fill: #0f1013;
  }
  #slidebar-active:checked ~ .links {
    right: 0px;
  }
}
