* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", serif;
}
header {
  width: 100%;
  height: 100%;
  background-color: #fff4e6;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 2rem;
}
nav .logo h1 {
  font-weight: 700;
  font-size: 30px;
  color: rgb(19, 19, 19);
}
nav .links a {
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  padding-right: 2rem;
  color: rgb(19, 19, 19);
}
nav #slidebar-active {
  display: none;
}
.open,
.close {
  display: none;
}
nav svg {
  fill: #0f1013;
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 3rem;
  text-align: center;
}
.banner h1 {
  padding: 0 35%;
  font-size: 2.6rem;
  font-weight: 700;
}
h4 {
  color: #727272;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding-top: 2%;
}
button {
  width: 170px;
  height: 64px;
  background-color: #ff900e;
  color: #fff4e6;
  border: none;
  font-size: 17px;
  border-radius: 8px;
  margin-bottom: 25px;
  margin-top: 2%;
}
.banner img {
  width: 90%;
  padding-bottom: 50px;
}
main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2%;
  gap: 5%;
  margin: 5% 0;
}
.images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.images img {
  width: 100%;
}
.text {
  max-width: 35%;
}
.title {
  padding-bottom: 5%;
}
.Quick-list {
  color: #727272;
  font-weight: 400;
  line-height: 50px;
  font-size: 3rem;
}
.text h1 {
  color: #000000;
  line-height: 50px;
  font-size: 3rem;
}
.text-primary {
  color: #ff900e;
  line-height: 50px;
  font-size: 3rem;
}
.text h4 {
  padding-bottom: 5%;
}
section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 3%;
  padding: 5% 5%;
  position: relative;
}
.feature-title {
  border-left: 5px solid #ff900e;
  padding-left: 20px;
  font-size: 2.8rem;
  font-weight: 700;
}
h4 {
  color: #727272;
  font-size: 16px;
  padding: 2% 0;
}
.card {
  padding: 3%;
  border-radius: 8px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  width: 100%;
  height: 100%;
}
.feature-image img {
  width: 95%;
}
.feature-image button {
  padding: 5% 5%;
  width: 50%;
  height: 100%;
  background-color: #ff900e;
  color: #fff4e6;
  border: none;
  border-radius: 8px;
}
.main-text {
  font-size: 3vw;
  padding: 5% 5%;
}
.h4-text {
  font-size: 1.3vw;
  padding: 5% 5%;
}
.fact {
  width: 100%;
  height: 100%;
  padding: 5% 5%;
  position: relative;
}
h3 {
  font-size: 2.8rem;
  font-weight: 700;
}
h4 {
  max-width: 540px;
  color: #727272;
}
.facts-cont {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  align-items: center;
}
.facts-card {
  border: 1px solid #ff900e;
  width: 240px;
  height: 240px;
  display: flex;
  border-radius: 8px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2%;
}
.facts-card h1 {
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}
.facts-card h5 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
}
.sponser {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.sponser h3 {
  font-size: 2.8rem;
  font-weight: 700;
}
.sponser h5 {
  color: #727272;
  font-weight: 400;
  margin-top: 3%;
  max-width: 50%;
  text-align: center;
  font-size: 16px;
}
.sponser-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  gap: 2%;
  flex-wrap: wrap;
  width: 100%;
}
.sponser-cont img {
  filter: grayscale(100%);
  margin: 3%;
}

@media (max-width: 626px) {
  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 200px;
    height: 200%;
    background-color: #fff4e6;
  }
  .links a {
    padding: 20px 30px;

    text-align: center;
  }
  .close {
    margin-top: 30px;
  }
  .open,
  .close {
    display: block;
    padding: 20px;
    fill: #0f1013;
  }
  #slidebar-active:checked ~ .links {
    right: 0px;
  }
}
@media (max-width: 924px) {
  main {
    flex-direction: column;
  }
  .text {
    max-width: 90%;
    text-align: center;
    margin: 5% 0;
  }
  .title {
    padding-bottom: 2%;
  }
  .text h4 {
    padding-bottom: 2%;
  }
  section {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 3%;
  }
  .feature-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .feature-image button {
    padding: 5% 5%;
  }
}
@media (max-width: 533px) {
  .images {
    display: grid;
    grid-template-columns: repeat(auto-fit, 100%);
    justify-content: center;
  }
}
@media (max-width: 991px) {
  .fact {
    text-align: center;
  }
  h4 {
    max-width: 100%;
  }
  .facts-cont {
    justify-content: center;
  }
}
